%div{id: 'form_meta_tags'}
  = form.text_field :meta_keywords,   class: 'meta',  type: 'text', maxlength: "60",  placeholder: "List, Of, Keywords, Goes, Here (limit 60 chars)"
  = form.text_area :meta_description, class: 'short', type: 'text', maxlength: "160", placeholder: "Our Awesome Description Goes Here (limit 160 chars)"
